
body{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    min-height:  100vh;
    background-image: linear-gradient(106deg, rgba(226,226,236,1) 0%, rgba(198,222,227,1) 0%, rgba(236,236,241,1) 100%);

}

.main {
    width: 100%;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    text-align: center;
    

}


.main h1 {    
    
    font-weight: 900;
    color: rgb(219, 110, 37);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #c90d0d;
        
}


.main h2 {
    text-shadow: 2px 2px 5px hsl(84, 8%, 24%);   
    margin-top: -120px;
}

.main a{
    text-decoration: none;
    color:#3a93a6;
    background: #db5f5f;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 22px;
    text-transform: uppercase;
    transition: 0.5s;
    font-weight: bold;
    box-shadow: 5px 6px 10px ;
}

.main a:hover{
    background:#d20a0a;
}


/*Desktop*/
@media only screen and (min-width: 769px) {
    
    .main {
        font-size: 140%;
     }

    h1 {
        font-size: 140px;

    } 

}

/*tablet*/
@media only screen and (min-width: 426px) and (max-width: 768px) {
    
    .main {
        font-size: 100%;
     }
    
    h1 {
        font-size: 100px
    }

}

/*Mobile S/M/L*/
@media only screen and (min-width: 200px) and (max-width: 425px) {
    
    .main {
        font-size: 70%;
     }
    h1 {
        font-size: 70px
        
    }


}

.text-effecslide {
    overflow: hidden;

}

.text-effecslide p {
    transform: scale(10);
    animation: scaleDown 0.8s forwards cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes scaleDown {
    to {
        transform: scale(1);
    }
}

.text-effecslide .text-wrapper {
    overflow: hidden;

}

.text-effecslide span {
    display: inline-block;
}

.text-effecslide .text-wrapper:first-child span {
    transform: translateX(101%);
    animation: slideIn 0.8s 0.8s forwards cubic-bezier(0.16, 1, 0.3, 1);
}

.text-effecslide .text-wrapper:last-child span {
    transform: translateX(-101%);
    animation: slideIn 0.8s 0.8s forwards cubic-bezier(0.16, 1, 0.3, 1);
    
}

@keyframes slideIn {
    to {
        transform: translateX(0%);
    }
    
}

.effect {
    margin: 40px;
}

span {
    display: block;
    font-size: calc(1.5rem + 05vw);
}